name: Release

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    environment: ${{ github.ref_type == 'tag' && 'release' || '' }}
    permissions:
      id-token: write
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v5

      - name: Install Poetry
        run: pipx install poetry

      - name: Check Tag  # SemVer + PEP 440
        id: check-tag
        run: |
          if [[ ${{ github.ref }} =~ ^refs\/tags\/[0-9]+\.[0-9]+\.[0-9]+(a[0-9]+|b[0-9]+|rc[0-9]+)?(\.post[0-9]+)?(\.dev[0-9]+)?$ ]]; then
            echo 'match=true' >>$GITHUB_OUTPUT
          fi

      - name: Build package
        run: poetry build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        if: steps.check-tag.outputs.match == 'true'
